<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sports</title>
</head>
<body>
    
    <!-- Setting the Navbar for this page -->
    <div class="Navbar">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>

    <!-- Header of this about page -->
    <h1>About me</h1>
    
    <!-- Description about me -->
    <div class="Details">
        <p>Full Name: Yash Patel</p>
        <p>Email:<a href="mailto:Patelyash3023@gmail.com">Patelyash3023@gmail.com</a></p>
        <p>Country: India</p>
        <p>Future Planning: I want to be a web developer in future and also want to play cricket at big platform.</p>
    </div>

    <!-- Image used -->
    <img src="/images/indianflag.jpg" alt="country">

</body>
</html>