<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sports</title>
</head>
<body>
    
    <!-- Navbar set here -->
    <div class="Navbar">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
       
    <!-- Header of this page -->
    <h1>Contact</h1>
    
    <p>You can contact me on given <a href="mailto:Patelyash3023@gmail.com">Email Id.</a></p>

    <img src="/images/contactme.jpg" alt="contact me">
</body>
</html>