<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sports</title>
</head>
<body>

    <!-- Setting the Navbar -->
    <div class="Navbar">
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>

    <!-- Header of the home page -->
    <div>   
        <h1>Welcome to the Home of Sports</h1>
    </div>

    <p>Find all news about the sports here.</p>
    <img src="/images/sportsbackground.jpg" alt="sports img">
</body>
</html>